<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<!-- HEAD -->
<div th:insert="~{fragments/header :: header}"></div>
<body>

    <!-- NAVIGATION -->
    <div th:insert="~{fragments/nav :: nav}"></div>
    

    <!-- CONTENU PRINCIPAL -->
    <main class="hero">
    <div th:if="${success}" class="alert alert-success" role="alert">
	<span th:text="${success}"></span>
</div>
        <h2>
            Bienvenue <span style="color: #f37500;">h@ck3r_3t1qu3</span>
        </h2>

        <section class="modules">
            <div class="card" onclick="location.href='module.html'">
                1 Protection des données et vie privée
            </div>
            <div class="card" onclick="location.href='module.html'">
                2 Réseaux sociaux et influence numérique
            </div>
            <div class="card" onclick="location.href='module.html'">
                3️ Sécurité des appareils et connexions
            </div>
        </section>
    </main>

    <!-- FOOTER -->
    <div th:insert="~{fragments/footer:: footer}"></div>
    

</body>
</html>