<!-- Inclusion du header -->
<div th:insert="fragments/header :: header"></div>

<h2>
	Bienvenue <span style="color: #f37500;">h@ck3r_3t1qu3</span>
</h2>

	<section class="modules">
		<div class="card" onclick="location.href='module.html'">1
			Protection des données et vie privée</div>
		<div class="card" onclick="location.href='module.html'">2
			Réseaux sociaux et influence numérique</div>
		<div class="card" onclick="location.href='module.html'">3️
			Sécurité des appareils et connexions</div>
	</section>
<!-- Inclusion du footer -->
<div th:insert="fragments/footer :: footer"></div>



