<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{fragments/header :: header}"></div>

<body>

	<!-- NAVIGATION depuis le fragment nav -->
	<div th:insert="~{fragments/nav :: nav}"></div>
	
    <section class="module">
    <div class="module-content">
        <h1>Réseaux Sociaux : Outils d’Influence de Masse</h1>
        <p>
            Les algorithmes des réseaux sociaux choisissent ce que nous voyons afin de maximiser nos temps d’écran.
            Chacun se retrouve dans une <em>bulle de filtre</em> qui bien souvent renforce nos opinions.
        </p>
        <p>
            Ces plateformes sont devenues des instruments puissants de <strong>propagande</strong> et de <strong>manipulation de masse</strong>, accessibles à tous les groupes d’intérêt, gouvernements ou entreprises, en raison de leur portée mondiale et de leur capacité à cibler finement les utilisateurs.
        </p>
        <h2>Méthodes de manipulation</h2>
        <ul>
            <li><strong>Deepfakes & contenus trompeurs</strong> : des images ou vidéos modifiées peuvent manipuler la perception du public.</li>
            <li><strong>Exploitation des données personnelles</strong> : chaque clic, partage ou like alimente un profil comportemental utilisé pour cibler des contenus et influencer les opinions.</li>
        </ul>
        <p>
            L’analyse massive de données permet d’adapter les messages à chaque individu ou groupe d’intérêt. Cela transforme les réseaux sociaux en outils d'influence de masse.
        </p>
    </div>
    <div class="buttons">
            <a th:href="@{/admin/accueil-admin}" class="btn">Retour aux modules</a>
            <a th:href="@{/quiz-reseau}" class="btn">Commencer le Quizz</a>
            <a th:href="@{/challenge-motdepasse}" class="btn">Mini-challenge : Trouve le mot de passe</a>
            
        </div>
    </section>
	<!-- FOOTER -->
	<div th:insert="~{fragments/footer :: footer}"></div>
	
</body>
</html>