<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{fragments/header :: header}"></div>


<body>

	<!-- NAVIGATION depuis le fragment nav -->
	<div th:insert="~{fragments/nav :: nav}"></div>

	<div id="quiz-container-reseau">
		<h1>Quiz : Réseaux sociaux et l'influence numérique</h1>

		<div id="timer-reseau">
			<i class="fas fa-hourglass-half"></i> Temps restant : <span id="time-reseau">02:00</span>
		</div>

		<form id="quiz-form-reseau">
			<div id="questions-container-reseau">
				<!-- Questions injectées ici -->
			</div>

		</form>

		<div id="result-reseau"></div>
		<div id="score-reseau" style="display: none;"></div>
	</div>

	<!-- FOOTER -->
	<div th:insert="~{fragments/footer :: footer}"></div>
	

</body>
</html>