<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Mon compte</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<div th:insert="~{fragments/header :: header}"></div>
	<div th:insert="~{fragments/nav :: nav}"></div>

	<div class="container">
		<!-- account.html -->
		<h1>Bienvenue <span style="color: #f37500;" th:text="${admin.username}">Admin</span></h1>
		
		<section>

   <!--  
       <h2>Sessions créées</h2>
   <div th:if="${sessions.isEmpty()}">
        <p>Aucune session n’a encore été créée.</p>
    </div>
   --> 

    <!-- Insertion du fragment pour afficher les sessions créées -->
    <div th:replace="~{session/session :: sessionsSection}"></div>
    
    
</section>
		
	
	</div>

	<div th:insert="~{fragments/footer :: footer}"></div>
</body>

</html>