
        	<h2>Bienvenue <span style="color: #f37500;">Cadette</span></h2>

        <main class="hero">

            <section class="modules">
                <div class="card" onclick="location.href='module.html'">1 Protection des données et vie privée
                </div>
                <div class="card" onclick="location.href='module.html'">2 Réseaux sociaux et influence numérique
                </div>
                <div class="card" onclick="location.href='module.html'">3️ Sécurité des appareils et connexions
                </div>
                <div class="card" onclick="location.href='module.html'">4  Cyberattaques et menaces courantes
                </div>
            </section>
        </main>
           
        