.module {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    min-height: 70vh;
}

.module-content {
    max-width: 600px;
    text-align: center;
}

.module-content h1 {
    font-size: 2.5rem;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
}

.module-content p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: #ccc;
}

.module-content .buttons .btn {
    display: inline-block;
    margin: 10px;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    background: linear-gradient(135deg, #2c2c39, #18181e);
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s ease;
}

.module-content .buttons .btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

/*********************QUIZZ*********************/

 #quiz-container, #quiz-container-reseau, #quiz-container-securite {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

h1 {
	color: grey;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

#timer, #timer-reseau, #quiz-timer-securite {
    text-align: right;
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #333;
}

.question-block {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question-block p {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.question-block label {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    color: #555;
    padding-left: 35px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}

.question-block label input[type="radio"] {
    margin-right: 10px;  /* Espace entre le bouton radio et le texte */
    accent-color: #ff7f32;  /* Couleur orange pour les boutons radio */
}

#quiz-form, #quiz-form-reseau, #quiz-form-securite {
    margin-top: 20px;
}

#submit-btn, #submitBtnR, #submit-btn-securite {
    display: block;
    width: 100%;
    padding: 14px;
    background-color: #ff7f32; /* Orange */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 30px;
}

#submit-btn:hover, #submitBtnR:hover, #submit-btn-securite:hover {
    background-color: #e56e2d;  /* Un orange plus foncé au hover */
}

#submit-btn:active, #submitBtnR:active, #submit-btn-securite:active {
    background-color: #d05a1c; /* Une couleur encore plus foncée au clic */
}

#score, #score-reseau, #quiz-score-securite {
    text-align: center;
    margin-top: 30px;
}

#score h2, #score-reseau h2, #quiz-score-securite h2{
    font-size: 1.5em;
    color: #333;
}

#score p, #score-reseau p, #quiz-score-securite p {
    font-size: 1.2em;
    color: #333;
}

/* Style pour le timer */
#timer, #timer-reseau, #quiz-timer-securite {
    font-size: 1.2em;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#hourglass-container {
    position: relative;
    width: 40px;
    height: 70px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hourglass-sand {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: #ff7f32; /* Couleur du sable */
    transition: height 1s ease-in-out; /* Animation du sable */
}

#timer-icon {
    font-size: 2em;
    color: #ff7f32;  /* Couleur de l'icône */
}

#time, #time-reseau, #quiz-time-securite {
    font-weight: bold;
    color: #333;
}


/* Ajout d'un effet au survol des options */
.question-block label:hover {
    background-color: #f2f2f2;
    border-radius: 4px;
    padding-left: 40px;
    transition: padding-left 0.3s;
}

/* Pour le bouton de soumission et son alignement */
#quiz-container button:disabled, #quiz-container-reseau button:disabled,  #quiz-container-securite button:disabled{
    background-color: #cccccc;
    cursor: not-allowed;
}

/*************************   CHALLENGE MOT DE PASSE   **********************************/
.challenge-motpasse input, button {
	padding: 10px;
	font-size: 16px;
	margin-top: 10px;
}

.challenge-motpasse #result {
	margin-top: 20px;
	font-weight: bold;
}
 