<!-- Inclusion du header -->
    <div th:insert="fragments/header :: header"></div>
    
        <main class="hero">
            <div class="hero-content">
                <h1>Module</h1>
                <p>Explore les bases et relève des défis pour tester tes compétences en cybersécurité.</p>
                <div class="buttons">
                    <a href="bases.html" class="btn">Les bases</a>
                    <a href="challenge.html" class="btn">Challenge</a>
                </div>
            </div>
        </main>    


<!-- Inclusion du footer -->
    <div th:insert="fragments/footer :: footer"></div>
