<!-- fragments/header.html -->
<head th:fragment="header">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CyberChall</title>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
	integrity="sha512-xxxxxx" crossorigin="anonymous"
	referrerpolicy="no-referrer" />
<link rel="stylesheet" th:href="@{/css/global.css}">
<link rel="stylesheet" th:href="@{/css/pages/account.css}">
<link rel="stylesheet" th:href="@{/css/pages/session.css}">
<link rel="stylesheet" th:href="@{/css/pages/session_creation.css}">
<link rel="stylesheet" th:href="@{/css/pages/contact.css}">
<link rel="stylesheet" th:href="@{/css/pages/create-account.css}">
<link rel="stylesheet" th:href="@{/css/pages/module.css}">
<link rel="stylesheet" th:href="@{/css/admin/accueil_admin.css}">
<link rel="stylesheet" th:href="@{/css/eleve/accueil_eleve.css}">
<link rel="stylesheet" th:href="@{/css/pages/connexion.css}">

</head>