<div th:fragment="nav">
	<div class="wrapper">
		<header>
			<nav>
				<div class="logo">
					<img src="/images/logo.png" alt="Logo Cadettes de la Cyber">
					<h1>
						<a th:href="@{/}">CyberChall</a>
					</h1>
				</div>

				<span th:if="${admin != null}" th:text="${admin.id}"></span>
				<!-- Affiche l'ID si l'admin est connecté -->
				<span th:if="${admin != null}" th:text="${admin.username}"></span> <span
					th:if="${admin == null}">Utilisateur non connecté</span>



				<ul class="nav-links">
					<li><a th:href="@{/}">Accueil</a></li>

					<!-- Menu déroulant COMPTE -->
					<li class="nav-item dropdown position-relative"><a
						class="nav-link dropdown-toggle text-white" href="#"
						id="compteDropdown" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">Compte</a>
						<ul class="dropdown-menu dropdown-menu-dark position-absolute"
							aria-labelledby="compteDropdown">

							<li th:if="${admin != null}"><a class="dropdown-item"
								th:href="@{/account}">Mon Compte</a></li>

							<li><a class="dropdown-item" href="/session/session">Mes
									sessions</a></li>
							<li><a class="dropdown-item" href="/create-account">Créer
									compte</a></li>
							<li><a class="dropdown-item"
								href="/session/session-statistic">Statistiques</a></li>
						</ul></li>

					<li><a th:href="@{/contact}">Contact</a></li>
					<li><a
						th:href="${estConnecte} ? @{/deconnexion} : (role == 'admin' ? @{/admin/connexion-admin} : @{/})"
						th:text="${estConnecte} ? 'Déconnexion' : 'Connexion'"> </a></li>
				</ul>

				<!-- RESPONSIVE ! -->
				<div class="burger" onclick="toggleBurger()">
					<span></span> <span></span> <span></span>
				</div>

				<ul class="nav-links" id="navLinks">
					<!-- tes <li> ici -->
				</ul>


				<div class="toggle-container" onclick="toggleMode()">
					<div class="toggle-switch"></div>
				</div>
			</nav>
		</header>
	</div>
</div>
