
        /* ---- Styles du contenu ---- */
        h1 {
            font-size: 2rem;
            margin-bottom: 1rem;
            background: linear-gradient(90deg, #ffffff, #2a2a3b);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .account-container {
            background: linear-gradient(135deg, #2c2c39, #18181e);
            padding: 2rem;
            border-radius: 20px;
            width: 90%;
            max-width: 800px;
            box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
            margin-bottom: 2.5rem;
        }

        .section {
            margin-bottom: 2rem;
            text-align: left;
        }

        .section h2 {
            font-size: 1.3rem;
            color: #ffffff;
            margin-bottom: 0.5rem;
        }

        .section ul {
            list-style: none;
            padding-left: 0;
        }

        .section ul li {
            padding: 0.3rem 0;
            border-bottom: 1px solid rgba(255,255,255,0.1);
        }

        button {
            padding: 10px 20px;
            background: rgba(255, 255, 255, 0.1);
            color: #fff;
            border: none;
            border-radius: 30px;
            cursor: pointer;
            font-size: 0.9rem;
            transition: background 0.3s ease;
        }

        button:hover {
            background: rgba(255, 255, 255, 0.2);
        }

        .info-line {
            margin: 8px 0;
        }

     /*  footer {
            margin-top: auto;
            padding: 1.5rem 0;
            color: #aaa;
            text-align: center;
        } */

        a.session-link {
            color: #ff9900;
            text-decoration: none;
        }

        a.session-link:hover {
            text-decoration: underline;
        }

        .revoke-btn {
            margin-left: 1rem;
            background: rgba(255, 255, 255, 0.1); /* ----couleur orange #f37500; ---- */
            font-size: 0.9rem;
            padding: 6px 12px;
            border-radius: 20px;
        }

        .revoke-btn:hover {
            background: #990000;
        }