<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{fragments/header :: header}"></div>

<body>

    <!-- NAVIGATION depuis le fragment nav -->
    <div th:insert="~{fragments/nav :: nav}"></div>
	<h1>👤 Mon compte</h1>
	<p>
		Bienvenue, <span th:text="${username}">Utilisateur</span>!
	</p>
	<p>
		Votre rôle est : <span th:text="${role}">Utilisateur</span>
	</p>


	<div class="account-container">
		<div class="section">
			<h2>Mes sessions</h2>
			<ul id="session-list">
				<!-- Affichage des sessions récupérées -->
				<li th:each="session : ${sessions}">
					<div>
						<strong>Token : </strong><span th:text="${session.token}"></span><br>
						<strong>Role : </strong><span th:text="${session.role}"></span><br>
						<strong>Début : </strong><span
							th:text="${#dates.format(session.startDate, 'yyyy-MM-dd HH:mm')}"></span><br>
						<strong>Expiration : </strong><span
							th:text="${#dates.format(session.expirationDate, 'yyyy-MM-dd HH:mm')}"></span><br>
					</div>
				</li>

			</ul>
		</div>
	</div>

    <!-- FOOTER -->
    <div th:insert="~{fragments/footer :: footer}"></div>

</body>
</html>
