
<!-- Inclusion du header -->
<div th:insert="fragments/header :: header"></div>


<div class="login-container">
	<h2>Connexion</h2>
	<p id="error-msg"
		style="color: #ff6b6b; display: none; font-weight: bold;">Identifiants
		incorrects, veuillez réessayer.</p>
	<form id="loginForm" th:action="@{/connexion}" method="post">
		<input type="text" id="username" placeholder="Nom d'utilisateur" required> 
		<input type="password" id="password" placeholder="Mot de passe" required>
		
        <select name="role" required>
            <option value="">-- Choisissez un role --</option>
            <option value="eleve">Eleve</option>
            <option value="admin">Administrateur</option>
        </select><br>
		<button type="submit">Se connecter</button>
	</form>
</div>

<!-- Inclusion du footer -->
    <div th:insert="fragments/footer :: footer"></div>
