<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{fragments/header :: header}"></div>

<body>

    <!-- NAVIGATION depuis le fragment nav -->
    <div th:insert="~{fragments/nav :: nav}"></div>

<section class="contact-section">
    <h2>Contacte-nous 📩</h2>
    <h3>Via Email</h3>
            <p class="info-line">
                <a class="highlight-link" href="mailto:cadettecyber@gmail.com">cadettecyber@gmail.com</a>
            </p>
    <h3>Via Formulaire</h3>
    <form action="/envoyer-message" method="post" class="contact-form">
        <input type="text" name="nom" placeholder="Ton nom" required>
        <input type="email" name="email" placeholder="Ton email" required>
        <textarea name="message" rows="5" placeholder="Ton message..." required></textarea>
        <button type="submit">Envoyer</button>
    </form>
</section>
    <!-- FOOTER -->
    <div th:insert="~{fragments/footer :: footer}"></div>
    

</body>
</html>