<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{fragments/header :: header}"></div>

<body>

	<!-- NAVIGATION depuis le fragment nav -->
	<div th:insert="~{fragments/nav :: nav}"></div>

	<!-- Message de déconnexion -->
	<div th:if="${message}" class="alert alert-success">
		<p th:text="${message}"></p>
	</div>




	<!-- CONTENU PRINCIPAL -->
	<main class="hero">
		<div class="login-container">
			<a th:href="@{/admin/connexion-admin}" class="btn btn-admin">Connexion</a>
			<!-- pour créer un compte -->
			<a th:href="@{/create-account}" id="create-account">Créer
				un compte</a>
		</div>
	</main>

	<!-- FOOTER -->
	<div th:insert="~{fragments/footer :: footer}"></div>

</body>
</html>