<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{fragments/header :: header}"></div>


<body>

    <!-- NAVIGATION depuis le fragment nav -->
    <div th:insert="~{fragments/nav :: nav}"></div>


<section class="module module-reseau">
	<div class="module-content">
		<h1>Réseaux sociaux et influences numériques</h1>
		<p>Explore les bases et relève des défis pour tester tes
			compétences en cybersécurité.</p>
		<div class="buttons">
			<a th:href="@{/base-reseau}" class="btn">Base</a>		
			<a th:href="@{/quiz-reseau}" class="btn">Quizz</a>			
		</div>
	</div>
</section>

    <!-- FOOTER -->
    <div th:insert="~{fragments/footer :: footer}"></div>
    

</body>
</html>
