<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{fragments/header :: header}"></div>

<body>

	<!-- NAVIGATION depuis le fragment nav -->
	<div th:insert="~{fragments/nav :: nav}"></div>

	<div id="quiz-container-securite">
		<h1>Quiz : Sécurité numérique chez TechSecure Corp</h1>

		<div id="quiz-timer-securite">
			<i class="fas fa-hourglass-half"></i> Temps restant : <span id="quiz-time-securite">02:00</span>
		</div>

		<form id="quiz-form-securite">
			<div id="questions-container-securite">
				<!-- Questions injectées par JS -->
			</div>
		</form>

		<div id="quiz-result-securite"></div>
		<div id="quiz-score-securite" style="display: none;"></div>
	</div>

	<!-- FOOTER -->
	<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>
